<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Links</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.links.each do |link| %>
      <tr>
        <td><%= link.link %></td>
        <td><%= link.about %></td>
        <td><%= link.user.username %></td>
        <td><%= link_to 'Edit', edit_link_path(tweet) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'create new Readit', new_link_path(@user) %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
